<h1 class="bg-primary  w-100 position-fixed top-0 "> NEW CATEGORIES</h1>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Back to categories", groups_path, class: 'btn btn-sm col-12' %>
</div>
