<div class="container">
 <h1  class="row text-center mt-5">Budget App</h1>
  <div class="row d-flex flex-column mt-5">
    <h3  class="mt-5">LOG IN</h3>
    <h3  class="mt-3">SIGN UP</h3>
</div>
</div>